{% extends 'base.html' %}

{% block content %} 

<div class="container">
    <div class="product-detail">
        <div class="product-image">
            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <div class="product-price">{{ product.price }} Fcfa</div>
            <div class="product-description">{{ product.description }}</div>
            <div class="product-stock">{{ product.stock }} en stock</div>

            {% if user.is_authenticated %}
                <a href="{% url 'add_to_cart' product.slug %}" class="btn">Ajouter au panier</a>
            {% endif %}

            {% if not user.is_authenticated %}
                <a class="btn" id="openPopup">Ajouter au panier</a>
            {% endif %}

            <a href="{% url 'home' %}" class="btnr">Retour</a>
        </div>
    </div>
</div>

<script>
    document.getElementById("openPopup").addEventListener("click", function(event) {
        event.preventDefault(); 
        alert("Connectez-vous pour ajouter le produit !");
    });
</script>

{% endblock %}