{% extends 'base.html' %}

{% block content %} 

    <div class="container">
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <a href="{% url 'product' product.slug %}" class="btn">Voir l'article</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}