{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEZ NITO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
</head>
<body>

        <div class="container">
            <div class="header-bar">
                <div class="header-left">
                        <a href="/"><h3>NITO'S STORE</h3></a>
                </div>

                {% if not user.is_authenticated %}
                <div class="header-right"></div>
                    <p> 
                        <a href="{% url 'login' %}">Connectez-vous pour pouvoir passer une commande! </a>
                    </p>
                </div>
                {% endif %}
                {% if user.is_authenticated %}

                <div class="header-right">
                    <p>Bienvenue {{ user.username }},  <a href="{% url 'logout' %}">Deconnexion</a></p>
                   
                </div>

                {% if user.cart %}
                    <div class="cart-icon-container">
                        <div>
                            <a href="{% url 'cart' %}" class="cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                                    <span class="cart-count">{{ user.cart.orders.count }}</span>
                            </a>                        
                        </div>
                    </div>
                {% endif %}
                {% endif %}

            </div>

    </div>

    {% block content %} {% endblock %}
    
</body>
</html>